.centerText {text-align: center;}
.block {display: block;}
.username {padding: 0px 5px 0px 0px;}
.password {padding: 0px 7px 0px 0px;}
.phoneNumber {padding: 0px 19px 0px 0px;}
.city {padding: 0px 41px 0px 0px;}

body
{
	margin: 2px 2px 1px 2px;
}

ul
{
	padding: 0;
	margin: 0;
}

#menuContainer
{
	margin-left: 20%;
	margin-right: 20%;
	background-color: #858080;
    padding-top:1px;
    padding-bottom:1px;
}

#menuDiv
{
	padding-bottom: 1px;
	text-align: center;
	background-color: #606060;
}

#logoDiv
{
	margin-left: 20%;
	margin-bottom: 25px;
}

#subMenuDiv
{
	margin-top:3px;
	background-color: #858080;
}

.horizontal li
{
	display: inline;
	padding: 1px 25px 1px 25px;
}

.menu li
{
	color: white;
	font-size:14pt;
	margin-right:4px;
	background-color:#606060;
}

.subMenu li
{
	color: white;
	font-size:12pt;
	background-color:#858080;
	text-decoration: underline;
}

.pointer
{
	cursor: pointer;
}

.default
{
	cursor: default;
}

.none
{
	cursor: none;
}

#loginDiv
{
	display: none;
}

label[for="password"]
{
	margin: 0px 40px 0px 0px;
}
